[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi-users = {extras = ["oauth", "sqlalchemy"], version = "*"}
motor = "*"
uvicorn = {extras = ["standard"], version = "*"}
asyncpg = "*"
loguru = "*"
alembic = "*"
psycopg2 = "*"
websocket = "*"

[dev-packages]

[requires]
python_version = "3.10"
